openapi: 3.0.4
info:
  title: I-Bond Rates
  description: >-
    I-Bond Rates provides current and historical interest rates for US Series I
    Savings Bonds. I-Bonds are inflation-protected savings bonds with a
    composite rate made up of a fixed rate plus an inflation rate that adjusts
    every 6 months.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/savingsbonds:
    get:
      summary: Get I-Bond Rates
      description: Get current I-Bond rates and historical rate data
      operationId: savingsbonds
      parameters:
        - name: period
          in: query
          schema:
            type: string
          required: false
          description: >-
            Specific issue period to lookup (YYYY-MM format, e.g., 2024-11).
            Omit for current rates.
          example: 2024-11
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  iBonds:
                    currentRate: 5.27
                    fixedRate: 1.3
                    inflationRate: 1.97
                    purchaseLimit: 10000
                  eeBonds:
                    currentRate: 2.7
                    guaranteedDoubling: 20 years (guaranteed to double in value)
                    purchaseLimit: 10000
                  recommendation: I Bonds
                  recommendationReason: I Bonds currently offer 5.27% vs EE Bonds at 2.70%
                  nextRateChange: '2024-05-01'
                  lastUpdated: '2024-02-01T00:00:00.000Z'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
